<nav class="navbar navbar-expand-lg fixed-top" style="z-index: 9999;">
    <div class="row">
        <img src="assets/images/logo.png" alt="" style="width: 55px; height: 55px; margin-left: 10px">
        <div class="col-lg-6">
            <a class="navbar-brand" href="javascript:void(0)" style="font-family:'Times New Roman', Times, serif; padding: 0; margin: 0; letter-spacing: 0.5px">Some Really Long Company Name</a>
            <hr style="background: white; width: 300px; margin: 0px">
            <a class="navbar-brand" href="javascript:void(0)" style="font-family:'Trebuchet MS', Helvetica, sans-serif; padding: 0; margin: 0; font-size: 14px; letter-spacing: 4.3px">SOME REALLY LONG APP TITLE</a>
        </div>
    </div>
    
    <div class="collapse navbar-collapse">     
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a href="javascript:void(0)" class="nav-link">
                    <i class="fa fa-user nav-title-icon" style="margin-right: 5px;"></i><span class="nav-title">{{this.user}}</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<p-megaMenu [model]="this.megaMenuItems" [style]="{'margin-top':'60px', 'height':'50px', 'box-shadow':'3px 3px 15px #999999'}" class="fixed-top"></p-megaMenu>