<nav class="navbar navbar-expand-lg fixed-top">
    <!-- <a class="navbar-brand" href="javascript:void(0)" style="font-family:'Trebuchet MS', Helvetica, sans-serif; padding: 0; margin: 0"><img src="assets/images/logo.png" alt="" style="width: 45px; height: 45px"> Scaffold</a> -->
    
    <div class="row">
        <img src="assets/images/logo.png" alt="" style="width: 55px; height: 55px">
        <div class="col-lg-6">
            <a class="navbar-brand" href="javascript:void(0)" style="font-family:'Trebuchet MS', Helvetica, sans-serif; padding: 0; margin: 0">Department of Budget and Management</a>
            <hr style="background: white; width: 360px; margin: 0px">
            <a class="navbar-brand" href="javascript:void(0)" style="font-family:'Trebuchet MS', Helvetica, sans-serif; padding: 0; margin: 0; font-size: 14px">EMPLOYEE PAYSLIP MAILER</a>
        </div>
    </div>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-wrench"></i>  Menu 1 <b class="caret"></b>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a class="dropdown-item" href="javascript:void(0)" routerLink="/application">
                        <i class="fa fa-fw fa-cubes"></i> {{ 'Sub Menu 1' }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" routerLink="/user-admin">
                        <i class="fa fa-fw fa-users"></i> {{ 'Sub Menu 1' }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" routerLink="/position">
                        <i class="fa fa-fw fa-universal-access"></i> {{ 'Sub Menu 1' }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" routerLink="/permission">
                        <i class="fa fa-fw fa-key"></i> {{ 'Sub Menu 1' }}
                    </a>
                </div>
            </li>
            &nbsp;
            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-cogs"></i>  Menu 2 <b class="caret"></b>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a class="dropdown-item" href="javascript:void(0)" routerLink="/application">
                        <i class="fa fa-fw fa-cubes"></i> {{ 'Sub Menu 1' }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" routerLink="/user-admin">
                        <i class="fa fa-fw fa-users"></i> {{ 'Sub Menu 1' }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" routerLink="/position">
                        <i class="fa fa-fw fa-universal-access"></i> {{ 'Sub Menu 1' }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" routerLink="/permission">
                        <i class="fa fa-fw fa-key"></i> {{ 'Sub Menu 1' }}
                    </a>
                </div>
            </li>
            &nbsp;
            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-user"></i>  {{this.user}} <b class="caret"></b>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-user"></i> {{ 'Profile' }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-envelope"></i> {{ 'Users' }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-gear"></i> {{ 'Settings' }}
                    </a>
                    <a class="dropdown-item" (click)="onLoggedout()">
                        <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' }}
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
